body {
	padding-top: 70px;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}
.navbar-inverse {
	/*background: #2c3e50; /*midnight*/
	/*background: #71902a;*/ /*green*/
	/*background: #51a33e;*/ /*sunny green*/
	background: black; /*turtle green*/
	opacity: 1px;
}
.navbar-inverse .navbar-nav>li>a {
	color: #FFFFFF;
	font-family: 'Quicksand', sans-serif;
}
#home-icon {
	margin-top: -5.5px;
}
.para {
	text-align: center;
	margin:30px 0px 30px 0px;
}
.streetHeader {
	/*font-family: 'Quicksand', sans-serif;*/
  font-family: 'Fredericka the Great', cursive;
	padding-bottom: 15px;
}
.thumbnail {
  margin: 0px 25px 0px 25px;
}
/*hr.hrtop { 
  margin: 35px 0px 0px 0px;
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

hr.hrbottom { 
  margin-bottom: 30px;	
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}*/
#top {
	margin: 40px 0px 20px 0px;

}


/*footer details*/

.footer-distributed {
	background-color: #F8F8FF;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: bold 16px sans-serif;
	padding: 0px 0px 30px 0px;
}

/* The company logo */

.footer-distributed h3{
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
	color: #000000;
	font-size: 42px;
	font-weight: bold;
	text-align: center;
}

.footer-distributed .comname-1 {
	margin-top: -15px;
}


/* Footer Social Media Icons */

.footer-distributed .footer-icons{
	margin: 25px 0px 30px 0px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 2px;
	font-size: 60px;
	text-align: center;
	line-height: 35px;
	margin-right: 15px;
	margin-left: 10px;
}

/* Footer links */

.footer-distributed .footer-links {
	font-family: 'Quicksand', sans-serif;
	color: #000000;
	margin: 10px 0 15px;
	padding: 0;
}

.footer-distributed .footer-left .footer-links {
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	font-family: 'Quicksand', sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: normal;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (min-width: 992px) and (max-width: 1199px) {

	.row {
		padding: 24px 0px 10px 0px;
	}
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

	.row {
		padding: 24px 0px 10px 0px;
	}
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
/*    .col-md-6 {
      width: 50%;
    }*/
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
}

@media (min-width: 555px) and (max-width: 767px) {

	.row {
		padding: 24px 0px 0px 0px;
	}
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
    }
    .col-sm-1 {
      width: 8.33%;
    }
    .col-sm-2 {
      width: 16.66%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-4 {
      width: 33%;
    }
    .col-sm-5 {
      width: 41.66%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-7 {
      width: 58.33%;
    }
    .col-sm-8 {
      width: 66.66%;
    }
    .col-sm-9 {
      width: 74.99%;
    }
    .col-sm-10 {
      width: 83.33%;
    }
    .col-sm-11 {
      width: 91.66%;
    }
    .col-sm-12 {
      width: 100%;
    }
	.footer-distributed h3{
		font-size: 40px;
	}	
	.footer-distributed .footer-icons a{
		font-size: 50px;
		margin-right: 10px;
		margin-left: 10px;
	}	
}

@media (min-width: 510px) and (max-width: 554px) {

	.row {
		padding: 24px 0px 0px 0px;
	}
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
    }
    .col-sm-1 {
      width: 8.33%;
    }
    .col-sm-2 {
      width: 16.66%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-4 {
      width: 33%;
    }
    .col-sm-5 {
      width: 41.66%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-7 {
      width: 58.33%;
    }
    .col-sm-8 {
      width: 66.66%;
    }
    .col-sm-9 {
      width: 74.99%;
    }
    .col-sm-10 {
      width: 83.33%;
    }
    .col-sm-11 {
      width: 91.66%;
    }
    .col-sm-12 {
      width: 100%;
    }
	.footer-distributed h3{
		font-size: 34px;
	}	
	.footer-distributed .footer-icons a{
		font-size: 45px;
		margin-right: 5px;
		margin-left: 5px;
	}	
	.footer-distributed .footer-links {
		margin-top: -5px;
	}	
}

@media (min-width: 300px) and (max-width: 509px) {

	.row {
		padding: 24px 0px 0px 0px;
	}
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
      float: left;
    }
    .col-xs-1 {
      width: 8.33%;
    }
    .col-xs-2 {
      width: 16.66%;
    }
    .col-xs-3 {
      width: 25%;
    }
    .col-xs-4 {
      width: 33%;
    }
    .col-xs-5 {
      width: 41.66%;
    }
    .col-xs-6 {
      width: 50%;
    }
    .col-xs-7 {
      width: 58.33%;
    }
    .col-xs-8 {
      width: 66.66%;
    }
    .col-xs-9 {
      width: 74.99%;
    }
    .col-xs-10 {
      width: 83.33%;
    }
    .col-xs-11 {
      width: 91.66%;
    }
    .col-xs-12 {
      width: 100%;
    }
	.footer-distributed h3{
		font-size: 30px;
	}	
	.footer-distributed .footer-icons a{
		font-size: 40px;
		margin-right: 5px;
		margin-left: 5px;
	}	
	.footer-distributed .footer-links {
		margin-top: -10px;
	}	
}

@media (max-width: 299px) {

	.row {
		padding: 24px 0px 0px 0px;
	}
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
      float: left;
    }
    .col-xs-1 {
      width: 8.33%;
    }
    .col-xs-2 {
      width: 16.66%;
    }
    .col-xs-3 {
      width: 25%;
    }
    .col-xs-4 {
      width: 33%;
    }
    .col-xs-5 {
      width: 41.66%;
    }
    .col-xs-6 {
      width: 50%;
    }
    .col-xs-7 {
      width: 58.33%;
    }
    .col-xs-8 {
      width: 66.66%;
    }
    .col-xs-9 {
      width: 74.99%;
    }
    .col-xs-10 {
      width: 83.33%;
    }
    .col-xs-11 {
      width: 91.66%;
    }
    .col-xs-12 {
      width: 100%;
    }
	.footer-distributed h3{
		font-size: 29px;
	}	
	.footer-distributed .footer-icons a{
		font-size: 40px;
		margin-right: 6px;
		margin-left: 6px;
	}	
	.footer-distributed .footer-links {
		margin-top: -10px;
	}	
}	